@import "../consts.less";

.icon-button {
    border: none;
    border-radius: @small-border-radius;
    padding: 8px;
    height: 40px;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    :global(.semi-icon),
    svg {
        aspect-ratio: 1/1;
        font-size: 40px;
        display: block;
        width: min-content;
        height: 100%;
    }
}
